doctype html
html
    head
        title Start page
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        ul
            li
                a(href='./pages/main/index.html') Main


